.feature-box {
  text-align: left;
  background-color: rgba($color-white, 0.5);
  font-size: 1.5rem;
  padding: 2.5rem;
  border-radius: 10px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
  transition: transform 0.3s;
  h3 {
    text-align: center;
    display: block;
    
  }
  @include respond(tab-port) {
    padding: 2rem;
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
}
@media only screen and (max-width: 720px) {
	.feature-box {
    padding: 2rem 0.5rem;
  }
}